
.sum{
    background-color: green; 
    font-size: 1.5rem;
}


.subs{
    background-color: red; 
    font-size: 1.5rem;}



.mult{
    background-color: blue; 
    font-size: 1.5rem;
}


.divi{
    background-color: orange; 
    font-size: 1.5rem;
}

.chara{
    background-color: aquamarine; 
    font-size: 1.5rem;
}

.typed{
    background-color: grey; 
    font-size: 1.5rem;
}