* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5em;
}

.header {
    background: rgb(150, 75, 75);
    padding: 10px;
    grid-column: 1/7;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__logo {
    width: 30%;
}

.header__logo img {
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.header__nav li {
    list-style: none;
}

.header__nav li a {
    text-decoration: none;
    color: #ffffff;
}



.side-bar {
    background-color: rgb(180, 104, 104);
    grid-column: span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 200px;
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 7%;
}

.side-bar__list li {
    list-style: none;
    margin-top: 10px;
}

.side-bar__list a {
    color: #ffffff;
    font-size: 1.5em;
}


.content {
    grid-column: 2/6;
    width: 100%;
}

.content__article {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px gray;
    width: 100%;
}

.content__img {
    width: 20%;
    min-width: 250px;
    order: 2;
}

.content__item {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    text-align: center;
}


.footer {
    grid-column: span 5;
    background-color: rgb(80, 83, 87);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.footer__item {
    border-radius: 50%;
    background-color: white;
    width: 5%;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3em;
}

.footer__item img {
    object-fit: contain;
}

@media (max-width: 750px){
    .header {
        flex-direction: column;
    }

    .header__nav {
        column-gap: 2em;
    }

    .header__logo {
        width: 40%;
    }
}

@media (max-width: 540px){
    .side-bar {
        display: none;
    }

    .content {
        grid-column: span 5;
    }

    .content__item {
        width: 90%;
    }
}