* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.form__container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.form__container2 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#input__name2 {
    width: 300px;
    height: 100px;
    text-align: center;
}

.div__ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
}

li {
    list-style: none;
}