.div-red {
    background-color: red;
    width: 100px;
    height: 100px;
}

.div-blue {
    background-color: blue;
    width: 100px;
    height: 100px;
}

.div-yellow {
    background-color: yellow;
    width: 100px;
    height: 100px;
}

