.form{
    background-color: rgb(128, 180, 132);
}

.form__email:hover{
    background-color: black;
    color: white;
}

.form__email{
    background-color: blue;
    border-width: 0.5rem;
}

.form__email::placeholder{
    
}

.form__email:active{
    border-color: orange;
}

.form__button{
    background-color: cadetblue;
    border-width: 0.5rem;
}

.form__email:valid{
    border-color: green;
}

.form__email:invalid{
    background-color: red;
}