*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;

}
.page__container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "header header header header"
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "nav main main main"
    "footer footer footer footer";
}

.header__container {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "main__logo menu-bar__container";
    align-items: center;
  }

.menu-bar__container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    ". list-item list-item list-item .";
}

.menu-bar__list{
    grid-area: list-item;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "item1 item2 item3";
  }
  .menu-bar__list--item-1{
    grid-area: item1;
    justify-self: center;
  }
  .menu-bar__list--item-2{
    grid-area: item2;
    justify-self: center;
  }
  .menu-bar__list--item-3{
    grid-area: item3;
    justify-self: center;
  }

  .main__container {
    grid-area: main;
  }
  .aside__container {
    grid-area: nav;
  }
  .footer__container {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2 1fr);
    grid-template-areas: 
    ". Facebook Twitter Instagram Pinterest Youtube ."
    ". rights-reserved rights-reserved rights-reserved rights-reserved rights-reserved .";
  }

.rights-reserved{
    grid-area: rights-reserved;
    justify-self: center;
}
.logo{
    border-radius: 50%;
    background-position: center;
    height: 2.2em;
    width: 2.2em;
    background-color:#F5F4F4;
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: center;
    
}
.Facebook{
    grid-area: Facebook;
    background-image: url(/css-practice/css-grid/assets/facebook.png);
}
.Twitter{
  grid-area: Twitter;
  background-image: url(/css-practice/css-grid/assets/twitter.png);
}

.Instagram{
  grid-area: Instagram;
  background-image: url(/css-practice/css-grid/assets/Instagram.png);
  background-size: 80%;
}
.Pinterest{
  grid-area: Pinterest;
  background-image: url(/css-practice/css-grid/assets/pinterest.png);
}
.Youtube{
  grid-area: Youtube;
  background-image: url(/css-practice/css-grid/assets/youtube.png);
  background-size: 80%;
}



