.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    gap: 1.5em;    

}

.form__item {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;

}

.li-tarea {
    font-size: 1.3em;
    list-style: none;
}

.item {
    padding-top: 2em;
}

.check__list--img {
    display: flex;
    flex-direction: column;
}


.check__container {
    display: flex;
    gap: 2em;
    align-items: center;
}


ul li.checked {
    color: rgb(8, 8, 8);
    text-decoration: line-through;
  }

ul li.checked::before {
    content: '';
    color: rgb(247, 235, 235);
    position: absolute;
    border-color: rgb(12, 12, 12);
    border-style: solid;
    border-width: 0 2px 2px 0;
    left: 20px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
