
.flex-container{
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}
.container{
    display: flex;
    width: 350px;
    height: 350px;
    font-size: 8em;
    font-weight: bolder;
    margin: 3px;
    align-items: center;
    justify-content: center;
    border-radius: 5%;
}

.first{
    background-color: #00A19D;
}
.second{
    background-color: #FFF8E5;
}
.third{
    background-color:#FFB344;
}
.fourth{
    background-color: #E05D5D;
}
.fifth{
    background-color:#22577A;
}
.sixth{
    background-color:rgb(56, 163, 165);
}
.seventh{
    background-color:rgb(87, 204, 153);
}
.eight{
    background-color:rgb(128, 237, 153);
}
.ninth{
    background-color:rgb(206, 229, 208);
}
.tenth{
    background-color:rgb(247, 213, 156);
}
/* @media(min-width: 750px){
    .container{
        display: flex;
        width: 460px;
        height: 460px;
}
} */