body{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    background-color: violet;
}

.header{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    background-color: wheat;
}

.nav_home{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: yellow;
}

.main{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: tomato;
}
.link_nav{
    display: grid;
    grid-template-rows: repeat(6,1fr);
}
.articulos{
    display: grid;
    grid-template-rows: repeat(6,1fr);
}