* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
color: rgb(255, 255, 255);
}

.body__style {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left:10vh;
    margin-right:10vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header__style {
    background-color:rgb(246, 216, 68);
    display: flex;
    position: sticky;
    top: 0;
    padding: 0.5rem;
    gap:1rem;
    border: solid 0.1rem #808080;
    z-index: 1;
}

.header__img {
    height: 100px;
}


.div__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.aside__style {
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #808080;
    gap: 1rem;
    justify-content: flex-start;
}

.nav__style {
}

.ul__style {
    list-style: none;
}

.div__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.main__style {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    height: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.article__style {
    border: solid 0.1rem #808080;
    border-radius: 5rem 0rem 5rem 0rem;
    background-color: #F8F1F1;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    padding-top: 2rem;
} 

.article__img {
    height: 400px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 0rem;
    margin-top: 2rem;
}

.line__style {
    border-bottom:solid 1px grey;
    width:50%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.button__style{
    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;

}
.footer__style {
    border: solid 0.1rem #808080;
}