* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 

.body__style {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left:10vh;
    margin-right:10vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header__style {
    background-color:rgb(246, 216, 68);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    position: sticky;
    top: 0;
    padding: 0.5rem;
    border: solid 0.1rem #808080;
    z-index: 1;
    margin-bottom: 1rem;
}
.header__img {
 max-height: 6rem;
 margin-top: 2rem;
}


.link__style{
    text-decoration: none;
    margin-left: 2rem;
}

.link-cabecera__style:hover {
    text-decoration: rgb(255, 255, 255);
}

.link__style:visited {
    text-decoration: none;
}

.link__style:hover {
color: rgb(218, 165, 32);
}

.div__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
}

.aside__style {
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #808080;
    gap: 1rem;
    justify-content: flex-start;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.line__style {
    color: rgb(0, 0, 0);
}


.nav__style {
    padding-right: 2rem;
    padding-top: 2rem;
}

.ul__style {
    list-style: none;
}

.div__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}

.main__style {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    height: 100%;
    margin-bottom: 1rem;
    z-index: 0; /**De alguna manera se me había posicionado por encima del header**/
}

.aside__style{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.article__style {
    border: solid 0.1rem #808080;
    border-radius: 5rem 0rem 5rem 0rem;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1em;
    padding-top: 2rem;
    width: 40rem;

} 

.article__img {
    height: 400px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 0rem;
    margin-top: 2rem;
    max-width: 80%;
}

.article__h1 {
    max-width: 80%;
}

.line__style {
    border-bottom:solid 1px grey;
    width:50%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.button__style{
    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: rgb(255, 200, 62);
    color: rgb(0, 0, 0);
    border: rgb(201, 201, 201) solid 0.1rem;

}
.footer__style {
    border: solid 0.1rem #808080;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.div-footer__style {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.p-footer__style {
    margin-bottom: 1rem;
}

.p-footer__IMG {
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;

}