.logo{
    width: 7em;
    height: 7em;
    display: inline;
}
.navhome{

        display: inline-flex;
        margin-right: 20%;
       
    
}
.navhome_in{
    display: inline;
    margin-right: 1em;
}
.navlink{
    display: flex;
    flex-direction: column;
    width: 10%;
    padding: 1em;
    background-color: #14279B;
}
.navlink_in{
    display: block;
}
.displayf{
    display: flex;
    align-items: center;
    background-color: #3D56B2;
    
}
main {
    display: flex;
    background-color: #5C7AEA;
    
    
}

.articulos{
    background-color: #E6E6E6;
   
   width: 20em;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 2em;
   padding: 1em;
 
  
 
}
.imagen{
    
    width: 15rem;
    height: 15rem;
    
}

.logo_redes{
    
    
    overflow:hidden;
    
}
.footer{
    display: flex;
    background-color: #E6E6E6;
    
   
    padding: 0.1em;
    padding-top: 1em;
}
.imagen_icon{
    height: 5em;
    width: 5em;
    
    
    border-radius: 2em;
    
    
    
}
.icon_conjunto{
    
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 1em;
  
   
}
.div_articulos{
    display: flex;
    
    width: 80%;
  
   align-items: center;
    
    flex-direction: column;
    
   
}

.wrap{
    display: flex;
    flex-wrap: wrap;

}

.font{
    font-size:1em;
    color: white;
}
.div_horizontal-line{
    width: 50%;
            
            border-top: solid ;
            background-color: violet;
  }