*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.logo {
    height: 100px;
}
.logo:hover{
    height: 200px;
}
.enlace-sin-formato {
    text-decoration: none;
    color: yellow;
}
.primer-div {
    height: 150px;
    width: 150px;
    border: 10px solid black;
    background-color: #0984A9;
    background:#095;
    -webkit-clip-path:polygon(0% 38.31%, 50% 0%,100% 38.31%,80.86% 100%,19.14% 100%);
}
.segundo-div {
    height: 100px;
    width: 300px;
    border: 10px double black;
    background-image: linear-gradient(blue, green);
}
.tercer-div {
    height: 450px;
    width: 450px;
    border: 10px solid blue;
    background-image: url(gredos3.jpg);
}
.texto-en-foto {
    font-size: 100px;
    color: blue;
    text-align: center;
    transition: font-size 1s, color 1s;
}
.texto-en-foto:hover {
    font-size: 150px;
    color: red;
}

.red-social {
    border-radius: 50%;
    border: 10px solid blue;
    -webkit-box-shadow: 7px -5px 10px 0px #4B0082;
}
.cabecera_principal{
    background-color: brown;
    position: sticky;
    top: 0px;
    height: 110px;
}
.main-principal {
    background-color: chartreuse;
    /*height:100vh; */ 
}
.footer-principal {
    background-color: cyan;
}
