.caja{
    height: 350px;
    width: 350px;
    border: black;

}

.contenedor{
    display: flex;
    flex-direction: row-reverse;
    
    
    flex-wrap: wrap;
}
.numero{
    font-size: 100px;
    text-align: center;
}
body{
    display: flex;
}
@media only screen and (max-width: 400px){
    .contenedor{flex-direction: column-reverse;}
}